
.i_input {
    width: 460px;
    height: 52px;
    border: none;
    border-radius: 20px;
    margin: 13px 1px;
    padding-left: 3%;
}
.i_label {
    margin-top: 2px;
}
.i_img {
    max-width: 24px;
    height: 24px;
    // padding-top: 7%;
    margin-top: 3px;
    margin-left: -12%;
}