.info_container{
    padding-left: 22%;
        padding-top: 10%;}
.first_info_section{
    display: flex;
    margin: 3px;
    padding: 3px;
}
.img_info{
    margin-left: 36px;
}
.scnd_info_section{
    margin: 2px;
    padding: 2px;
}
.delete{
  padding-left: 3%;
}
.info_inputs{
    padding-top: 7%;
}
.info_btn{
    padding-top: 3%;
}