.social_input_container{
    display: flex;
    background: #FFFFFF;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        padding: 3px;
        margin: 2%;
    justify-content: space-between;
    width: 1071px;
}
.social_link_para{
    margin-right: 45%;
}