.terms_para{
    font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        padding-left: 57px;
}
.no_decorate{
    text-decoration: none;
}