.dropdown_menu {
  width: 384px;
  height: 844px;
}
.DropdownList_wrapper {
  overflow: hidden;
  margin: 3px;
  background-color: #fdfdfd;
  margin-left: 3px;
}
.icon2 {
  margin-left: 40%;
}
.menu_lists {
  list-style: none;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration: none;
  margin-top: 3%;
  /* padding-top: 9%; */
}
.active {
  width: 283px;
  background: #6759ff;
  border-radius: 8px;
  height: 48px;
  color: #ffffff;
  padding-left: 1rem;
}
.icon_small {
  color: black;
}

.menu_icons {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
/* font-family: 'Poppins',
        sans-serif; */
